*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url("../media/Heart.jpg") no-repeat center center;
    box-sizing: border-box;
    color: rgb(236, 221, 221);
    box-sizing: cover;
    
}

#busqueda{
    padding-top: 5%;
}


footer{
    color: rgb(236, 221, 221);  
    padding-top: 30%;
}




.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}


